.right-nextBtn-container,
.left-nextBtn-container {
    display: none;
}

.left-nextBtn-container,.right-nextBtn-container {
    width: 150px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: -1em;
}

.right-nextBtn-container {
    right: 0;
}

.text,.text-inverse {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.text{
    animation: rotateText 10s linear infinite;
}
.text-inverse {
    animation: rotateText-inverse 10s linear infinite;
}

.rotating-text {
    color: #fff;
}

.rotating-text-inverse {
    color: #fff;
}

.arrow-down{
    /* top: 43px !important;  */
    /* right: 60; */
    /* right:110px !important  */
}

/* @keyframes */

@keyframes rotateText {
    0% {
        transform: rotate(-360deg)
    }

    100% {
        transform: rotate(-0deg);
    }
}

@keyframes rotateText-inverse {
    0% {
        transform: rotate(360deg)
    }

    100% {
        transform: rotate(0deg);
    }
}

@media screen and (max-width: 1280px) {

    .right-nextBtn-container,
    .left-nextBtn-container {
        display: none;
    }
}

@media screen and (min-width: 1280px) {

    .right-nextBtn-container,
    .left-nextBtn-container {
        display: none;
    }
}

@media screen and (max-width: 899px) {

    .right-nextBtn-container,
    .left-nextBtn-container {
        display: block;
    }
    .left-nextBtn-container,.right-nextBtn-container {
        width: 250px;
    }
}

@media screen and (min-height:900px) {

    .right-nextBtn-container,
    .left-nextBtn-container {
        bottom: 3em;
    }
}

@media screen and (min-height:640px) {
    .left-nextBtn-container,.right-nextBtn-container {
        width: 200px;
    }
}

@media screen and (min-height:600px) {
    .left-nextBtn-container,.right-nextBtn-container {
        width: 150px;
    }
}

@media screen and (max-width:400px) {
    .left-nextBtn-container,.right-nextBtn-container {
        width: 130px;
    }
}

@media screen and (min-width: 401px){
    .arrow-down{
        top: 43px !important; 
        right:110px !important 
    }
}