.container {
    width: 100%;
    display: flex;
    align-items: center;
}

.app-left,
.app-right {
    height: 100vh;
    /* border-right: 2px solid red */
}

.app-left {
    width: 60%;
}

.app-right {
    width: 40%;
    /* height: 100vh; */
    /* background: orange; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-intro {
    /* margin-top: 15%; */
    margin-top: 10%;
    font-family: consolas;
    text-align: left;
}

.hello-txt {
    font-family: 'Consolas';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 74.37%;
    /* identical to box height, or 12px */
    margin-bottom: .5em;
    letter-spacing: 0.08em;
    color: #FFFFFF;
}

.name-txt {
    font-family: 'Consolas';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 0.08em;
    color: #FFFFFF;

}

.more-info {
    font-family: 'Consolas';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 74.37%;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    margin-top: .5em;
}

.more-info-txt {
    color: hsla(1, 100%, 68%, 1)
}

.contact-btn {
    padding: 15px 20px;
    gap: 10px;
    width: 183px;
    height: 46px;
    background: hsla(0, 0%, 18%, 1);
    border-radius: 5px;
    font-family: 'Consolas';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 74.37%;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    border: none;
    outline: none;
    margin-top: 2em;
    cursor: pointer;
}


/* Toastify styles */

@media only screen and (max-width: 480px) {
    .Toastify__toast-container {
        width: 90vw !important;
        left: initial !important;
    }
}

@media screen and (max-width:1120px) {
    .more-info{
        letter-spacing: 0.02em;
    }
    .name-txt {
        font-size: 50px    
    }
    .more-info {
        font-size: 19px;
    }

}

@media screen and (max-width:950px) {
    .more-info{
        letter-spacing: 0.01em;
    }
    .name-txt {
        font-size: 45px    
    }
    .more-info {
        font-size: 18px;
    }

}

@media screen and (max-width:1000px) {
    .container {
            
    }
}

@media screen and (max-width:899px){
  .container{
    flex-direction: column;
    height: auto;
    margin-top: 15%;
  }
  .app-intro {
    /* margin-top: 8%; */
    margin-top:6em;
}
.app-left{
    display: flex;
    justify-content: center;
    width:100%;
}
}

@media screen and (max-width:899px) and (min-height:786px) {
    .name-txt {
        font-size: 50px    
    }
    .more-info {
        font-size: 20px;
    }
    .app-intro {
        /* margin-top: 8%; */
        margin-top:15em;
    }
  }

@media screen and (max-width: 660px){
     .app-intro{
        margin-top:10em;
     }
}

@media screen and (max-width: 550px){
    .app-right {
        display: block;
    }
}


@media screen and (max-width: 495px){
    .name-txt{
        font-size: 35px;
    }
    .more-info{
        font-size: 15px;
        letter-spacing: 0.07;
    }
    .contact-btn{
        padding: 5px 10px;
        height: 35px;
        font-size:15px;
        width:max-content;
    }
}

@media screen and (max-width:416px) {
    .name-txt{
        font-size: 30px;
    }
    .more-info{
        font-size: 14px;
        letter-spacing: 0.07;
    }
  }
  

  @media screen and (max-width:390px) {
    .name-txt{
        font-size: 30px;
    }
    .more-info{
        font-size: 13px;
        letter-spacing: 0;
    }
    .hello-txt{
        margin-bottom: 0em;
        font-size: 14px;
    }
    
  }
  

  @media screen and (max-width:356px) {
    .app-intro {
        /* margin-top: 8%; */
        margin-top:12em;
    }
    .name-txt{
        font-size: 30px;
    }
    .more-info{
        font-size: 12px;
        letter-spacing: 0em;line-height: 2em;
    }
    
  }
  
  @media screen and (max-width:311px) {
    .hello-txt{
        font-size: 10px;
    }
    .app-intro {
        /* margin-top: 8%; */
        margin-top:12em;
    }
    .name-txt{
        font-size: 25px;
    }
    .more-info{
        font-size: 10px;
        /* font-size: 12px; */
        letter-spacing: 0em;line-height: 2em;
    }
    
  }
  

  @media screen and (max-width:1000px) and (min-height:1300px) {
    .app-intro{
      margin-top: 15%;
    }
  }
  