.body {
    display: flex
}

.left-wing {
    width: 75%;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    height: 100vh;
    text-align: left;
}

.left-wing-top {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.left-wing-top-inner {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    height: 50px;
}

/* .left-wing-body{
    display: flex;
    align-items: center;
    justify-content: flex-end;
} */
.right-wing-top {
    /* border-bott  om: 1px solid rgba(255, 255, 255, 0.2); */
}

.right-wing-top-inner {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    height: 50px;
    width: 100%;
}

.page-title {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    width: 295px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Consolas';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    padding-right: 15px;
}

.sidebar-title {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Consolas';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    word-spacing: .2em;
    padding-left: 5em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.sidebar-body .sidebar {
    font-family: 'Consolas';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding-left: 6em;
    margin-top: .5em;
}

.sidebar-body div {
    height: 40px;
    display: flex;
    margin-bottom: 1em;
}

.sidebar-body {
    overflow-y: auto;
    margin-bottom: 20em;
    height: 50vh;
    transition: 1s;
}

 .closed{
    height: 0vh !important;
}

/* .opened{
    transition: 2s;
} */

.right-wing {
    width: 25%;
}

.section,
.span {
    font-family: 'Consolas';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.08em;
    height: 30px
}

.section {
    color: #FFBD44;
}

.span {
    color: hsla(234, 63%, 58%, 1);
}

.experience-info {
    width: 736px;
    text-align: left;
    /* TODO u might later want to remove this */
    /* float: right; */
    margin-left: 4%;
}

.white-exp-text {
    font-family: 'Consolas';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.08em;
    color: #fff;
}

.max-width {
    /* width: 90%;
    background: red;
    margin-left: auto; */
    margin-bottom: 20em;
}

.tabcontent {
    padding: 8px 16px;
}

.tabcontent-sm {
    padding: 0px 30px;
}

.left-wing-body {
    overflow-y: auto;
    height: 100%;
}


.left-wing-body::-webkit-scrollbar,
.sidebar-body::-webkit-scrollbar {
    width: 0px;
}

.experience-box {}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
    color: hsla(234, 63%, 58%, 1) !important
}



code[class*="language-"],
pre[class*="language-"] {
    /* white-space: pre-line !important; */
    white-space: break-spaces !important;

}

pre[class*="language-"] {
    overflow: initial !important;
}

.plain-text {
    width: 736px !important;
    margin: 0 auto !important;
    box-sizing: border-box;
    /* float:right !important; */
    /* background: red !important; */
    /* text-align: center; */
    /* color:orange !important; */
    /* display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important; */
    text-align: right !important;

}



.experience-wrap-open-tag,
.experience-wrap-close-tag {
    font-family: 'Consolas';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.08em;
    color: hsla(234, 63%, 58%, 1);
    height: 30px;
    opacity: 0.5;
}

.experience-wrap-open-tag {
    text-align: left;
    margin-bottom: .3em;
}

.experience-wrap-close-tag {
    text-align: right;
    margin-top: .3em;
    margin-bottom: 2em;
}

.white-wrap-tag-text {
    color: #FFBD44;
}

.experience-name {
    color: white;
    font-family: 'Consolas';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.08em;
    color: #fff;
}

.experience-info-box{
    margin-top: 2em;
}

