@font-face {
  font-family: "consolas";
  src: url("./assets/fonts/Consolas-Font/CONSOLA.TTF")
}
@font-face {
  font-family: "consolas-bold";
  src: url("./assets/fonts/Consolas-Font/CONSOLAB.TTF")
}

*{
  padding:0;
  margin:0
}
body {
  background:url("./imgs/background.jpg");
  background-color: #1E1E1E;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.max-width{
  width: 90%;
  margin: 0 auto;
}